<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>createTime</key>
		<real>1478244503477</real>
		<key>desc</key>
		<string>对方水电费水电费水的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多的点点滴滴多多多多多多多多多多多多多多多多多多多多电费是</string>
		<key>expireTime</key>
		<real>1479454103448</real>
		<key>id</key>
		<integer>203</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/sq/20161028/20161028180818822.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_203</string>
		<key>pasteTag</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>name</key>
			<string>吃出好身材</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>readType</key>
		<integer>0</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>3</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>的点点滴滴多多多多多</string>
		<key>type</key>
		<integer>0</integer>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string>http://yunmai-images.oss-cn-qingdao.aliyuncs.com/avatar%2F999983914%2F9999839141478230917945.jpg</string>
			<key>id</key>
			<integer>999983914</integer>
			<key>realName</key>
			<string>456789</string>
		</dict>
	</dict>
	<dict>
		<key>createTime</key>
		<real>1478244411656</real>
		<key>desc</key>
		<string>对方水电费水电费水电费是</string>
		<key>expireTime</key>
		<real>1479454011288</real>
		<key>id</key>
		<integer>202</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/sq/20161028/20161028180818822.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_202</string>
		<key>readType</key>
		<integer>0</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>4</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>格子君测试</string>
		<key>type</key>
		<integer>0</integer>
		<key>userTag</key>
		<dict>
			<key>name</key>
			<string>男神榜</string>
			<key>type</key>
			<integer>1</integer>
			<key>typeValue</key>
			<integer>0</integer>
			<key>url</key>
			<string>http://sq13t.iyunmai.com/api/ios/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1;http://sq13t.iyunmai.com/api/android/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1</string>
		</dict>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string>http://yunmai-images.oss-cn-qingdao.aliyuncs.com/avatar%2F999983914%2F9999839141478230917945.jpg</string>
			<key>id</key>
			<integer>999983914</integer>
			<key>realName</key>
			<string>456789</string>
		</dict>
	</dict>
	<dict>
		<key>createTime</key>
		<real>1478229296660</real>
		<key>desc</key>
		<string>对方水电费水电费水电费是</string>
		<key>expireTime</key>
		<real>1479438896604</real>
		<key>id</key>
		<integer>201</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/test%2Fdaka%2F20161103%2F1478139954426-21-0.0-0.0-0.0-3-2-1.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_201</string>
		<key>readType</key>
		<integer>0</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>4</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>iOS测试1</string>
		<key>type</key>
		<integer>0</integer>
		<key>userTag</key>
		<dict>
			<key>name</key>
			<string>男神榜</string>
			<key>type</key>
			<integer>1</integer>
			<key>typeValue</key>
			<integer>0</integer>
			<key>url</key>
			<string>http://sq13t.iyunmai.com/api/ios/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1;http://sq13t.iyunmai.com/api/android/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1</string>
		</dict>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string></string>
			<key>id</key>
			<integer>999983914</integer>
			<key>realName</key>
			<string>456789</string>
		</dict>
	</dict>
	<dict>
		<key>createTime</key>
		<real>1478227928079</real>
		<key>desc</key>
		<string>对方水电费水电费水电费是</string>
		<key>expireTime</key>
		<real>1479437527939</real>
		<key>id</key>
		<integer>200</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/sq/20161028/20161028180818822.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_200</string>
		<key>readType</key>
		<integer>0</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>4</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>iOS测试</string>
		<key>type</key>
		<integer>0</integer>
		<key>userTag</key>
		<dict>
			<key>name</key>
			<string>女神榜</string>
			<key>type</key>
			<integer>2</integer>
			<key>typeValue</key>
			<integer>0</integer>
			<key>url</key>
			<string>http://sq13t.iyunmai.com/api/ios/query/hotgroup/bbscard-rank-list.json?type=2&amp;rows=10&amp;versionCode=1;http://sq13t.iyunmai.com/api/android/query/hotgroup/bbscard-rank-list.json?type=2&amp;rows=10&amp;versionCode=1</string>
		</dict>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string>http://yunmai-images.oss-cn-qingdao.aliyuncs.com/avatar%2F999983916%2F9999839161469186310040.jpg</string>
			<key>id</key>
			<integer>999983916</integer>
			<key>realName</key>
			<string>由来</string>
		</dict>
	</dict>
	<dict>
		<key>createTime</key>
		<real>1478244503477</real>
		<key>desc</key>
		<string>对方水电费水电费水的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多多的点点滴滴多多多多多多多多多多多多多多多多多多多多多多多多的点点滴滴多多多多多多多多多多多多多多多多多多多多电费是</string>
		<key>expireTime</key>
		<real>1479454103448</real>
		<key>id</key>
		<integer>203</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/sq/20161028/20161028180818822.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_203</string>
		<key>pasteTag</key>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>name</key>
			<string>吃出好身材</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>readType</key>
		<integer>1</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>3</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>的点点滴滴多多多多多</string>
		<key>type</key>
		<integer>0</integer>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string>http://yunmai-images.oss-cn-qingdao.aliyuncs.com/avatar%2F999983914%2F9999839141478230917945.jpg</string>
			<key>id</key>
			<integer>999983914</integer>
			<key>realName</key>
			<string>456789</string>
		</dict>
	</dict>
	<dict>
		<key>createTime</key>
		<real>1478244411656</real>
		<key>desc</key>
		<string>对方水电费水电费水电费是</string>
		<key>expireTime</key>
		<real>1479454011288</real>
		<key>id</key>
		<integer>202</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/sq/20161028/20161028180818822.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_202</string>
		<key>readType</key>
		<integer>0</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>4</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>格子君测试</string>
		<key>type</key>
		<integer>0</integer>
		<key>userTag</key>
		<dict>
			<key>name</key>
			<string>男神榜</string>
			<key>type</key>
			<integer>1</integer>
			<key>typeValue</key>
			<integer>0</integer>
			<key>url</key>
			<string>http://sq13t.iyunmai.com/api/ios/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1;http://sq13t.iyunmai.com/api/android/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1</string>
		</dict>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string>http://yunmai-images.oss-cn-qingdao.aliyuncs.com/avatar%2F999983914%2F9999839141478230917945.jpg</string>
			<key>id</key>
			<integer>999983914</integer>
			<key>realName</key>
			<string>456789</string>
		</dict>
	</dict>
	<dict>
		<key>createTime</key>
		<real>1478229296660</real>
		<key>desc</key>
		<string>对方水电费水电费水电费是</string>
		<key>expireTime</key>
		<real>1479438896604</real>
		<key>id</key>
		<integer>201</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/test%2Fdaka%2F20161103%2F1478139954426-21-0.0-0.0-0.0-3-2-1.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_201</string>
		<key>readType</key>
		<integer>0</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>4</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>iOS测试1</string>
		<key>type</key>
		<integer>0</integer>
		<key>userTag</key>
		<dict>
			<key>name</key>
			<string>男神榜</string>
			<key>type</key>
			<integer>1</integer>
			<key>typeValue</key>
			<integer>0</integer>
			<key>url</key>
			<string>http://sq13t.iyunmai.com/api/ios/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1;http://sq13t.iyunmai.com/api/android/query/hotgroup/bbscard-rank-list.json?type=1&amp;rows=10&amp;versionCode=1</string>
		</dict>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string></string>
			<key>id</key>
			<integer>999983914</integer>
			<key>realName</key>
			<string>456789</string>
		</dict>
	</dict>
	<dict>
		<key>createTime</key>
		<real>1478227928079</real>
		<key>desc</key>
		<string>对方水电费水电费水电费是</string>
		<key>expireTime</key>
		<real>1479437527939</real>
		<key>id</key>
		<integer>200</integer>
		<key>imgUrl</key>
		<string>http://images.sq.iyunmai.com/sq/20161028/20161028180818822.jpg</string>
		<key>key</key>
		<string>mq_system_announcement_200</string>
		<key>readType</key>
		<integer>0</integer>
		<key>systemAnnouncementMessageType</key>
		<integer>4</integer>
		<key>systemNotificationMessageType</key>
		<integer>0</integer>
		<key>title</key>
		<string>iOS测试</string>
		<key>type</key>
		<integer>0</integer>
		<key>userTag</key>
		<dict>
			<key>name</key>
			<string>女神榜</string>
			<key>type</key>
			<integer>2</integer>
			<key>typeValue</key>
			<integer>0</integer>
			<key>url</key>
			<string>http://sq13t.iyunmai.com/api/ios/query/hotgroup/bbscard-rank-list.json?type=2&amp;rows=10&amp;versionCode=1;http://sq13t.iyunmai.com/api/android/query/hotgroup/bbscard-rank-list.json?type=2&amp;rows=10&amp;versionCode=1</string>
		</dict>
		<key>usersInfo</key>
		<dict>
			<key>avatarUrl</key>
			<string>http://yunmai-images.oss-cn-qingdao.aliyuncs.com/avatar%2F999983916%2F9999839161469186310040.jpg</string>
			<key>id</key>
			<integer>999983916</integer>
			<key>realName</key>
			<string>由来</string>
		</dict>
	</dict>
</array>
</plist>
